{% if params.video and params.poster %}
<div class="ratio ratio-1x1">
    <div class="video-container">
        <div class="video-wrapper">
            <video class="scrubbed-video" id="v0" tabindex="0" autobuffer="autobuffer" preload="preload"
                poster="{{ params.poster }}">
                <source src="{{ params.video }}" type="video/mp4" />
            </video>
        </div>
    </div>
</div>
<div class="ratio ratio-1x1">
    <canvas id="canvas"></canvas>
</div>
{% endif %}