{% extends "templates/base.njk" %}

{% block title %}
{{ super() }}
| Additional
{% endblock %}

{% block metatags %}
{{ component('meta-tags', {
ogtitle: 'Client | SM Title'
}) }}
{% endblock %}

{% block body %}
{{ component('navigation', {}) }}


<main role="main" class="position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12" style="height:1200px">
                <p>Just for the height</p>
            </div>
        </div>
        <div id="set-height" class="height-container">
            <div class="row sticky-top">
                <div class="col-12 vh-100">
                    <canvas class="image-scroll-scrubber" data-fill-style="#54b1d3" data-framecount="179"
                        data-desktop-image="/assets/img/desktop/test-animation_16x9_0000.jpg"
                        data-mobile-image="/assets/img/mobile/test-animation_9x16_0000.jpg"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="height:1200px">
                <p>Just for the height</p>
            </div>
        </div>

</main>
<div id="height"
    style="position: fixed; left: 0; bottom: 0; background-color: brown; color:cornsilk; width: 200px; height: 24px;">
</div>
<div id="width"
    style="position: fixed; left: 0; bottom: 24px; background-color: green; color:cornsilk; width: 200px; height: 24px;">
</div>
<div id="ratio"
    style="position: fixed; left: 0; bottom: 48px; background-color:indigo; color:cornsilk; width: 200px; height: 24px;">
</div>
{% endblock %}